---
CompileFlags:
    Remove: [-mmcu=attiny3217]
    Add: [--target=avr, -mmcu=avrxmega3]

---
If:
    PathMatch: .*\.h
    PathExclude: .*\types.h

CompileFlags:
    Add: [--include=<stdint.h>,
          --include=<stdbool.h>]

---
If:
    PathMatch: src/.*

CompileFlags:
    Add: [-Weverything,
          -Wno-covered-switch-default,
          -Wno-gnu-binary-literal,
          -Wno-unknown-attributes,
          -Wno-gnu-zero-variadic-macro-arguments]

---
If:
    PathMatch: lib/include/.*

CompileFlags:
    Add: -Wno-everything